/*theme colors*/
/*global*/
body {
  font-family: "Rokkitt", serif;
  font-size: larger;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(55%, #4a4a4f), to(#656565));
  background: linear-gradient(90deg, black 0%, #4a4a4f 55%, #656565 100%);
  color: #ffffff;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

h3 {
  font-family: "Oswald", sans-serif;
}

h4 {
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

/*search area*/
.filter {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-area {
  width: 100%;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar {
  min-width: 50%;
  max-width: 970px;
}

.select-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.select-drop {
  padding-right: 1rem;
  padding-left: 1rem;
}

.grade-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.grade {
  padding-left: 1rem;
}

/*results area*/
.cars {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.car {
  margin: 2rem;
  padding: 1rem;
  background-color: #14213d;
  max-width: 400px;
  border-radius: 1rem;
  min-width: 25vw;
  border-style: solid;
  border-color: #fca311;
}

.car h2 {
  text-align: center;
}

.mini-stats {
  padding-top: 1rem;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  float: right;
  padding-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.load-button {
  width: 600px;
  height: 60px;
  max-width: 80%;
  padding-bottom: 6rem;
  border-radius: 15px;
  background-color: #e5e5e5;
  color: #14213d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*Expanded card*/
/*mdiv is the X to close cards*/
#mdiv {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 5vh;
  right: 5vw;
}

.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: #fca311;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  cursor: pointer;
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: close;
}

.md {
  height: 25px;
  width: 2px;
  background-color: #fca311;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 2;
}

.carpic {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 95%;
  max-height: 95%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: carpic;
      justify-self: center;
}

.rarity {
  text-align: center;
  border-radius: 2rem;
  justify-self: center;
  min-width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: rarity;
  max-width: 500px;
}

.common {
  background-color: green;
}

.rare {
  background-color: blue;
}

.epic {
  background-color: purple;
}

.legendary {
  background-color: gold;
}

/* expand card css*/
.expanded-card {
  position: fixed;
  top: 2.5vh;
  left: 2.5vw;
  width: 95vw;
  height: 95vh;
  z-index: 1;
  background-color: #14213d;
  border-style: solid;
  border-width: 2px;
  border-color: #fca311;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: "logo logo logo logo . . . . close" "logo logo logo logo carpic  carpic carpic carpic carpic" "head head head head carpic carpic carpic carpic carpic" "rarity rarity rarity rarity carpic carpic carpic carpic carpic" "stat stat stat stat  carpic carpic carpic carpic carpic" "stat stat stat stat . list1 list1 list2 list2" "tunes tunes tunes tunes . list1 list1 list2 list2";
}

.expanded-card-h {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
  text-align: center;
  margin: 0px;
}

.logo-open {
  max-width: 300px;
  max-height: 250px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.exp-list1 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: list1;
  padding: 3rem;
}

.exp-list2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: list2;
  padding: 3rem;
}

.stat-table {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: stat;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px #fca311;
  border-style: solid;
  max-height: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tunes {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tunes;
}

.stat-out {
  -ms-grid-column-align: left;
      justify-self: left;
  border-style: solid;
  border-width: 2px;
  border-color: #e5e5e5;
  height: 30px;
  width: 100%;
  border-radius: 30px;
}

.stat-in {
  -ms-grid-column-align: left;
      justify-self: left;
  background-color: #fca311;
  height: 30px;
  border-radius: 30px;
  padding: 0%;
}

.stat-left {
  padding-right: 4rem;
}

.stat-right {
  width: 100%;
}

.stat {
  padding: 0px;
  padding-left: 2rem;
  margin: 0px;
  height: 100%;
}
/*# sourceMappingURL=app copy.css.map */